:root {
  --color-blue: #2d2ae2;
  --color-blue-light: rgb(75, 92, 243);
  --color-blue-dark: rgb(9, 1, 58);
  --color-grey-light: #f0f0f0;
  --color-grey-ambient: rgba(54, 54, 54, 0.048);
  --color-grey-dark: #333;
  --shadow-dark: 0 0rem 6rem rgba(0, 0, 0, .3); }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  html a, html button, html input[type="submit"] {
    cursor: pointer; }

body {
  background-color: transparent;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 1.6;
  background-repeat: no-repeat;
  font-family: 'Oxygen', sans-serif; }

::placeholder {
  color: black;
  transition: all .3s; }

.slogan {
  width: auto;
  margin-bottom: 2rem;
  display: inline-block; }
  .slogan__link, .slogan__link:visited, .slogan__link:link {
    text-decoration: none;
    color: black; }
  .slogan__text1, .slogan__text2 {
    font-size: 2.2rem; }
    .slogan__text1 span, .slogan__text2 span {
      font-weight: 700; }
  .slogan__text2 {
    font-size: 1.4rem; }

.user-nav {
  display: flex;
  margin-right: auto; }
  .user-nav__list {
    display: flex; }
  .user-nav__link, .user-nav__link:visited, .user-nav__link:link {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 1.5rem;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    backface-visibility: hidden;
    background-color: var(--color-grey-ambient);
    transition: all .3s; }
    .user-nav__link:hover, .user-nav__link:visited:hover, .user-nav__link:link:hover {
      border-bottom: 3px solid black; }
    .user-nav__link:hover > .user-nav__item, .user-nav__link:visited:hover > .user-nav__item, .user-nav__link:link:hover > .user-nav__item {
      transform: translateY(-0.7rem); }
    .user-nav__link:active > .user-nav__item, .user-nav__link:visited:active > .user-nav__item, .user-nav__link:link:active > .user-nav__item {
      transform: translateY(0rem); }
    .user-nav__link:first-child, .user-nav__link:visited:first-child, .user-nav__link:link:first-child {
      padding: 1.5rem 0; }
    .user-nav__link:last-child, .user-nav__link:visited:last-child, .user-nav__link:link:last-child {
      color: white;
      background-color: var(--color-blue); }
  .user-nav__item {
    list-style: none;
    transition: all .3s; }

.search {
  flex: 0 0 30%;
  display: flex;
  justify-content: flex-end;
  position: relative; }
  .search__input {
    font-size: 1.6rem;
    color: var(--color-grey-dark);
    border: 1px solid var(--color-grey-ambient);
    outline: none;
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 50px;
    width: 80%;
    transition: all .3s .2s; }
    .search__input:focus {
      width: 100%; }
  .search__button {
    position: absolute;
    top: .9rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    margin-right: 0rem; }
  .search__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: rgba(0, 0, 0, 0.5);
    transition: all .3s; }
  .search__input:focus + .search__button > .search__icon {
    fill: rgba(0, 0, 0, 0); }

.post_container {
  flex: 0 0 33.33%;
  text-decoration: none;
  color: black; }

.post {
  padding: 1rem;
  overflow: hidden; }
  .post__text {
    border-bottom: .3rem solid transparent;
    transition: all .3s;
    padding-bottom: 2rem; }
  .post__figure {
    margin-bottom: 1rem;
    transition: all .3s;
    overflow: hidden;
    backface-visibility: hidden; }
  .post__image {
    max-width: 100%;
    display: block;
    transition: all .3s;
    backface-visibility: hidden; }
  .post__title {
    font-size: 2.3rem;
    line-height: 1; }
  .post__date, .post__summary {
    line-height: 1.6; }
  .post__date {
    padding: 1rem 0 0 0;
    font-size: 1.3rem; }
  .post__summary {
    font-size: 1.6rem; }
  .post:hover > .post__text {
    border-bottom: .3rem solid black; }
  .post:hover > .post__figure > .post__image {
    transform: scale(1.1); }

.portfolio_container {
  flex: 0 0 33.33%;
  text-decoration: none;
  color: black; }

.portfolio {
  padding: 1rem;
  overflow: hidden; }
  .portfolio__text {
    border-bottom: .3rem solid transparent;
    transition: all .3s;
    padding-bottom: 2rem; }
  .portfolio__figure {
    margin-bottom: 1rem;
    transition: all .3s;
    overflow: hidden;
    backface-visibility: hidden; }
  .portfolio__image {
    max-width: 100%;
    display: block;
    transition: all .3s;
    backface-visibility: hidden; }
  .portfolio__title {
    font-size: 2.3rem;
    line-height: 1; }
  .portfolio__date, .portfolio__summary {
    line-height: 1.6; }
  .portfolio__date {
    padding: 1rem 0 0 0;
    font-size: 1.3rem; }
  .portfolio__summary {
    font-size: 1.6rem; }
  .portfolio:hover > .portfolio__text {
    border-bottom: .3rem solid black; }
  .portfolio:hover > .portfolio__figure > .portfolio__image {
    transform: scale(1.1); }

.footer__container {
  width: 100%;
  margin: auto;
  padding: 4rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.footer__about {
  flex: 0 0 50%; }

.footer__text {
  font-size: 1.6rem;
  color: var(--color-grey-dark); }

.footer__list {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: center; }

.footer__item {
  padding: .5rem; }
  .footer__item a,
  .footer__item a:visited,
  .footer__item a:link {
    text-decoration: none;
    color: var(--color-grey-dark);
    font-size: 1.6rem;
    padding-right: 6rem; }

.about__container-flex,
.services__container-flex {
  display: flex;
  justify-content: space-between; }

.about__container,
.services__container {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem; }
  .about__container-left,
  .services__container-left {
    flex: 0 0 49%;
    padding-right: 0rem; }
  .about__container-right,
  .services__container-right {
    flex: 0 0 49%; }

.about__text-more, .about__text-more:visited, .about__text-more:link,
.services__text-more,
.services__text-more:visited,
.services__text-more:link {
  position: relative;
  text-decoration: none;
  color: black;
  padding: .5rem 0;
  display: inline-block;
  transition: all .2s; }
  .about__text-more::before, .about__text-more:visited::before, .about__text-more:link::before,
  .services__text-more::before,
  .services__text-more:visited::before,
  .services__text-more:link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 5%;
    width: 100%;
    transform: translateX(-50%);
    background-color: var(--color-grey-ambient);
    transition: all .2s; }
  .about__text-more:hover, .about__text-more:visited:hover, .about__text-more:link:hover,
  .services__text-more:hover,
  .services__text-more:visited:hover,
  .services__text-more:link:hover {
    background-color: black;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    color: white;
    transform: translateX(0.5rem); }
  .about__text-more:hover::before, .about__text-more:visited:hover::before, .about__text-more:link:hover::before,
  .services__text-more:hover::before,
  .services__text-more:visited:hover::before,
  .services__text-more:link:hover::before {
    width: 0%; }

.about__row, .about__col,
.services__row,
.services__col {
  margin-bottom: 2rem; }
  .about__row-item, .about__col-item,
  .services__row-item,
  .services__col-item {
    margin-bottom: 2rem;
    font-size: 1.8rem; }
  .about__row-listtext, .about__col-listtext,
  .services__row-listtext,
  .services__col-listtext {
    font-size: 1.6rem;
    margin-top: 1rem; }

.about__headtitle,
.services__headtitle {
  font-size: 2.6rem;
  font-weight: 700; }

.about__subtitle,
.services__subtitle {
  font-size: 2.2rem; }

.about__col,
.services__col {
  display: flex; }
  .about__col-list,
  .services__col-list {
    list-style: none;
    margin-top: 2rem; }
  .about__col-listtext,
  .services__col-listtext {
    font-size: 1.6rem;
    margin-top: 1rem; }

.about__row-container,
.services__row-container {
  display: flex;
  min-height: auto; }

.about__row-left,
.services__row-left {
  flex: 0 0 50%; }

.about__row-right,
.services__row-right {
  flex: 0 0 50%; }

.about__row-right, .about__row-left,
.services__row-right,
.services__row-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.about__row-list,
.services__row-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem; }
  .about__row-list:last-child,
  .services__row-list:last-child {
    justify-content: flex-start; }

.about__row-item,
.services__row-item {
  flex: 0 0 49%;
  margin-right: 1rem;
  list-style: none; }

.contact-headline {
  font-size: 2.6rem;
  width: 100%;
  display: block; }

.contact-container {
  flex: 1;
  display: flex;
  justify-content: space-between; }
  .contact-container__form {
    flex: 0 0 48%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0rem; }
    .contact-container__form > *:not(:last-child) {
      margin-bottom: 2rem; }
  .contact-container__name, .contact-container__mail, .contact-container__phone {
    width: 100%;
    position: relative;
    margin-top: 2rem; }
    .contact-container__name label, .contact-container__mail label, .contact-container__phone label {
      opacity: 0;
      position: absolute;
      left: 4%;
      top: 15%;
      font-size: 1.8rem;
      display: inline-block;
      transform: translateY(0);
      transition: all .3s;
      backface-visibility: hidden; }
    .contact-container__name--input, .contact-container__mail--input, .contact-container__phone--input {
      font-size: 1.8rem;
      width: 100%;
      padding: 1rem;
      padding-left: 2rem;
      border: none;
      border-radius: 50px;
      outline: none;
      border: 1px solid var(--color-grey-ambient);
      transition: all .3s; }
      .contact-container__name--input:focus, .contact-container__mail--input:focus, .contact-container__phone--input:focus {
        box-shadow: -0.1rem 0.5rem 1.5rem 0.3rem rgba(0, 0, 0, 0.1); }
        .contact-container__name--input:focus ~ label, .contact-container__mail--input:focus ~ label, .contact-container__phone--input:focus ~ label {
          opacity: 1;
          transform: translateY(-3.7rem); }
        .contact-container__name--input:focus::placeholder, .contact-container__mail--input:focus::placeholder, .contact-container__phone--input:focus::placeholder {
          color: transparent; }
  .contact-container__submit {
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 0.5rem 0;
    position: relative;
    display: inline-block;
    transition: all .2s;
    font-size: 1.8rem;
    background-color: transparent;
    text-decoration: none; }
    .contact-container__submit::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 5%;
      width: 100%;
      transform: translateX(-50%);
      background-color: var(--color-grey-ambient);
      transition: all .2s; }
    .contact-container__submit:hover {
      background-color: black;
      border-radius: 50px;
      padding: 0.5rem 1.5rem;
      color: white;
      transform: translateX(0.5rem); }
    .contact-container__submit:hover::before {
      width: 0%; }
  .contact-container__messagebox {
    min-height: 20rem;
    width: 100%;
    resize: vertical;
    outline: none;
    border: 1px solid var(--color-grey-ambient);
    border-radius: 5px;
    padding: 2rem;
    font-size: 1.6rem; }
  .contact-container__location {
    flex: 0 0 48%; }
  .contact-container__maps {
    width: 50rem;
    height: 50rem;
    -webkit-filter: grayscale(1); }

.container {
  max-width: 120rem;
  margin: 5rem auto; }

.header {
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5); }

.main {
  padding: 2rem; }

.content {
  margin-top: 2rem;
  padding: 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap; }
  .content:last-child {
    justify-content: flex-start; }

.footer {
  margin-top: 2rem;
  min-height: auto;
  background-color: white;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5); }

.bold-span {
  font-weight: 700; }

.filler__small {
  padding: 1rem; }
