:root {
  --color-blue: #2d2ae2;
  --color-blue-light: rgb(59, 209, 255);
  --color-blue-dark: rgb(9, 1, 58);
  --color-grey-light: #f7f3f3;
  --color-grey-ambient: rgba(54, 54, 54, 0.048);
  --color-grey-dark: #333;
  --shadow-dark: 0 0rem 6rem rgba(0, 0, 0, .3); }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3, p, button {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0; }

button {
  line-height: inherit; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  html a, html button, html input[type="submit"] {
    cursor: pointer; }

body {
  background-color: transparent;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 1.6;
  background-repeat: no-repeat;
  font-family: 'Oxygen', sans-serif;
  margin: 0 2rem; }

::placeholder {
  color: black;
  transition: all .3s;
  font-size: 1.6rem;
  font-family: 'Oxygen', sans-serif; }

.A-element__submit {
  margin-right: auto;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
  padding: .5rem 0;
  display: inline-block;
  transition: all .2s;
  font-family: 'Oxygen', sans-serif; }
  .A-element__submit::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 10%;
    width: 100%;
    transform: translateX(-50%);
    background-color: white;
    transition: all .2s; }
  .A-element__submit:hover {
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    color: black;
    transform: translateX(0.5rem);
    font-weight: 300; }
  .A-element__submit:hover::before {
    width: 0%; }

.B-element__submit {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
  padding: .5rem 0;
  transition: all .2s;
  border: none;
  background-color: transparent;
  backface-visibility: hidden;
  font-family: 'Oxygen', sans-serif; }
  .B-element__submit::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 10%;
    width: 100%;
    transform: translateX(-50%);
    background-color: white;
    transition: all .2s; }
  .B-element__submit:hover {
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    color: black;
    transform: translateX(0.5rem);
    font-weight: 300; }
  .B-element__submit-login:hover {
    transform: translateY(0.5rem); }
  .B-element__submit:hover::before {
    width: 0%; }

.slogan {
  width: auto;
  margin-bottom: 2rem;
  display: inline-block; }
  .slogan__link, .slogan__link:visited, .slogan__link:link {
    text-decoration: none;
    color: black; }
  .slogan__text1, .slogan__text2 {
    font-size: 2.2rem; }
    .slogan__text1 span, .slogan__text2 span {
      font-weight: 700; }
  .slogan__text2 {
    font-size: 1.4rem; }

.user-nav {
  display: flex; }
  .user-nav__list {
    display: flex; }
  .user-nav__link, .user-nav__link:visited, .user-nav__link:link {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 400;
    padding: 1.7rem 1rem;
    backface-visibility: hidden;
    display: inline-block;
    transition: all .3s; }
  .user-nav__item {
    list-style: none;
    transition: all .3s;
    border-bottom: 3px solid transparent;
    transition: all .3s;
    display: block; }
    .user-nav__item:first-child > * {
      padding: 1.7rem 0; }
    .user-nav__item:nth-child(5), .user-nav__item:nth-child(6) {
      background-color: #ffd000; }
    .user-nav__item:last-child {
      color: black;
      background-color: #ffd000; }
    .user-nav__item:hover {
      border-bottom: 3px solid black; }
    .user-nav__item:hover > .user-nav__link {
      transform: translateY(-0.7rem); }
    .user-nav__item:active > .user-nav__link {
      transform: translateY(0rem); }

.search {
  flex: 0 0 30%;
  display: flex;
  justify-content: flex-end;
  position: relative; }
  .search__input {
    font-size: 1.6rem;
    color: black;
    border: 1px solid var(--color-grey-dark);
    outline: none;
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 50px;
    width: 80%;
    transition: all .3s .2s; }
    .search__input:focus {
      width: 100%; }
  .search__button {
    position: absolute;
    top: .9rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    margin-right: 0rem; }
  .search__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #ffd000;
    opacity: 1;
    transition: all .3s; }
  .search__input:focus + .search__button > .search__icon {
    opacity: 0; }

.post_container {
  flex: 0 0 33.33%;
  text-decoration: none;
  color: black; }

.post {
  padding: 1rem; }
  .post__figure {
    margin-bottom: 1rem;
    transition: all .3s;
    overflow: hidden;
    backface-visibility: hidden; }
  .post__image {
    max-width: 100%;
    display: block;
    transition: all .3s;
    backface-visibility: hidden; }
  .post__text {
    border-bottom: .3rem solid transparent;
    transition: all .3s;
    padding-bottom: 2rem; }
  .post__title {
    font-size: 2.3rem;
    line-height: 1; }
  .post__date, .post__summary {
    line-height: 1.6; }
  .post__date {
    padding: 1rem 0 0 0;
    font-size: 1.3rem; }
  .post__summary {
    font-size: 1.6rem; }
  .post:hover > .post__text {
    border-bottom: .3rem solid black; }
  .post:hover > .post__figure > .post__image {
    transform: scale(1.1); }

.portfolio_container {
  flex: 0 0 33.33%;
  text-decoration: none;
  color: black; }

.portfolio {
  padding: 1rem;
  overflow: hidden; }
  .portfolio__text {
    border-bottom: .3rem solid transparent;
    transition: all .3s;
    padding-bottom: 2rem; }
  .portfolio__figure {
    margin-bottom: 1rem;
    transition: all .3s;
    overflow: hidden;
    backface-visibility: hidden; }
  .portfolio__image {
    max-width: 100%;
    display: block;
    transition: all .3s;
    backface-visibility: hidden; }
  .portfolio__title {
    font-size: 2.3rem;
    line-height: 1; }
  .portfolio__date, .portfolio__summary {
    line-height: 1.6; }
  .portfolio__date {
    padding: 1rem 0 0 0;
    font-size: 1.3rem; }
  .portfolio__summary {
    font-size: 1.6rem; }
  .portfolio:hover > .portfolio__text {
    border-bottom: .3rem solid black; }
  .portfolio:hover > .portfolio__figure > .portfolio__image {
    transform: scale(1.1); }

.footer__container {
  width: 100%;
  margin: auto;
  padding: 4rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.footer__about {
  flex: 1; }

.footer__text {
  font-size: 1.6rem;
  color: var(--color-grey-dark); }

.footer__list {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: center; }

.footer__item {
  padding: .5rem; }
  .footer__item a,
  .footer__item a:visited,
  .footer__item a:link {
    text-decoration: none;
    color: var(--color-grey-dark);
    font-size: 1.6rem;
    padding-right: 6rem; }

.content-background {
  display: block;
  width: 100%;
  padding: 2rem;
  min-height: 14rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  color: black;
  position: relative;
  background-color: #ffd000; }
  .content-background__picture {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    object-fit: cover;
    z-index: -1; }

.content-top, .content-middle {
  color: black; }

.content-top__head--headtitle {
  font-size: 2.2rem;
  font-weight: 700; }
  .content-top__head--headtitle-SnP {
    font-size: 5.25rem; }

.content-top__head--subtitle {
  font-size: 1.8rem; }

.content-middle {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 5rem; }
  .content-middle__aside {
    flex: 0 0 48%;
    font-size: 1.8rem;
    min-height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .content-middle__aside-servicesrow {
      flex: 1; }

.content-bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem; }
  .content-bottom__column {
    flex: 0 0 65%;
    display: flex; }
    .content-bottom__column-headtitle {
      flex: 1;
      margin-right: 2rem; }
  .content-bottom__list {
    list-style: none;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; }
    .content-bottom__list-item {
      background-color: var(--color-grey-light);
      margin-top: 1rem;
      font-size: 1.8rem;
      padding: 1rem;
      width: 48%;
      margin: .5rem;
      border-radius: 5px;
      border: 1rem solid transparent;
      text-align: center; }
    .content-bottom__list-listtext {
      font-size: 1.4rem;
      font-weight: 300; }

.content-process {
  flex: 0 0 50%;
  padding: 2rem; }
  .content-process__top {
    margin-bottom: 1rem; }
    .content-process__top--headtitle {
      font-size: 2.2rem;
      font-weight: 700; }
  .content-process__bottom {
    display: flex;
    justify-content: space-between; }
    .content-process__bottom--figure {
      display: flex;
      justify-content: center;
      margin-right: 2rem; }
    .content-process__bottom--circle {
      height: 5rem;
      width: 5rem;
      background-color: yellow;
      border-radius: 500px; }
    .content-process__bottom--text {
      flex: 1;
      font-size: 1.6rem; }

.contact-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem; }
  .contact-container__form {
    flex: 0 0 50%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .contact-container__form > *:not(:last-child) {
      margin-bottom: 2rem; }
  .contact-container__name, .contact-container__mail, .contact-container__phone {
    font-family: 'Oxygen', sans-serif;
    width: 100%;
    position: relative;
    margin-top: 2rem; }
    .contact-container__name label, .contact-container__mail label, .contact-container__phone label {
      opacity: 0;
      position: absolute;
      left: 4%;
      top: 15%;
      font-size: 1.8rem;
      display: inline-block;
      transition: all .3s;
      backface-visibility: hidden; }
    .contact-container__name--input, .contact-container__mail--input, .contact-container__phone--input {
      font-size: 1.8rem;
      width: 100%;
      padding: 1rem;
      padding-left: 2rem;
      border-radius: 50px;
      outline: none;
      border: 1px solid var(--color-grey-dark);
      transition: all .3s;
      font-family: 'Oxygen', sans-serif; }
      .contact-container__name--input:focus, .contact-container__mail--input:focus, .contact-container__phone--input:focus {
        box-shadow: -0.1rem 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.1); }
        .contact-container__name--input:focus ~ label, .contact-container__mail--input:focus ~ label, .contact-container__phone--input:focus ~ label {
          opacity: 1;
          transform: translateY(-3.7rem); }
        .contact-container__name--input:focus::placeholder, .contact-container__mail--input:focus::placeholder, .contact-container__phone--input:focus::placeholder {
          color: transparent; }
  .contact-container__messagebox {
    min-height: 20rem;
    width: 100%;
    resize: none;
    outline: none;
    border: 1px solid var(--color-grey-dark);
    border-radius: 5px;
    padding: 2rem;
    font-size: 1.8rem;
    font-family: 'Oxygen', sans-serif; }
  .contact-container__location {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end; }
  .contact-container__maps {
    flex: 0 0 90%;
    height: auto;
    -webkit-filter: grayscale(1); }

.login {
  width: 30rem;
  height: auto;
  font-size: 1.8rem;
  margin: 4rem auto;
  margin-bottom: 10rem;
  border: 5px solid white;
  padding: 2rem;
  display: flex;
  flex-direction: column; }
  .login__head {
    margin-bottom: 2rem; }
    .login__head--headtitle {
      font-weight: 700; }
    .login__head--subtitle {
      margin-bottom: 1rem; }
    .login__head--input {
      padding: 1rem;
      font-size: 1.8rem;
      text-align: center;
      border: 1px solid black;
      width: 100%;
      border-radius: 50px;
      outline: none;
      margin-bottom: 2rem;
      transition: all .3s; }
  .login__username, .login__password {
    text-align: center; }
  .login__submit {
    margin-bottom: 2rem;
    text-align: center; }

.container {
  max-width: 120rem;
  margin: 5rem auto; }

.header {
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main {
  padding: 0rem; }

.content {
  margin-top: 2rem;
  padding: 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap; }
  .content:last-child {
    justify-content: flex-start; }

.footer {
  margin-top: 2rem;
  min-height: auto;
  background-color: white;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5); }

.bold-span {
  font-weight: 700; }

.filler__small {
  padding: 1rem; }
