:root {
    --color-blue: #030169;
    --color-blue-light: rgb(75, 92, 243);
    --color-blue-dark: rgb(9, 1, 58);

    --color-grey-light: #fcfcfcc7;
    --color-grey-ambient: rgba(204, 204, 204, 0.493);
    --color-grey-dark: #333;

    --shadow-dark: 0 0rem 6rem rgba(0, 0, 0, .3);
}


// Media queries
$bp-largest: 75em; //1200px 
$bp-large: 68.75em; //1100px
$bp-medium: 60em; //1100px


* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: transparent;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1.6;
    background-repeat: no-repeat;
    font-family: 'Oxygen', sans-serif;

}

