.container {
    max-width: 120rem;
    margin: 5rem auto;
}

.header {
    height: auto;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: .1rem solid rgba($color: #000000, $alpha: .5);
    border-bottom: .1rem solid rgba($color: #000000, $alpha: .5);
}

.content {
    margin-top: 2rem;
    padding: 3rem;
    background: white;
   
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;

    &:last-child {
        justify-content: flex-start ;
    }
}

.footer {
    margin-top: 2rem;
    min-height: auto;
    background-color: white;

    border-top: .1rem solid rgba($color: #000000, $alpha: .5);
    border-bottom: .1rem solid rgba($color: #000000, $alpha: .5);
}

.bold-span {
    font-weight: 700;
}