@mixin beforeafter-A {

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 10%;
        width: 100%;
        transform: translateX(-50%);
        background-color: white;
        transition: all .2s;
    }
       
   &:hover {
        background-color: white;
        border-radius: 5px;
        padding: 0.5rem 1.5rem;
        color: black;
        transform: translateX(.5rem);
        font-weight: 300;
   }
       
   &:hover::before {
        width: 0%;             
   } 
}

@mixin beforeafter-B {

     &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          height: 10%;
          width: 100%;
          transform: translateX(-50%);
          background-color: white;
          transition: all .2s;
      }
         
     &:hover {
          background-color: white;
          border-radius: 5px;
          padding: .5rem 1.5rem;
          color: black;
          transform: translateX(.5rem);
          font-weight: 300;
     }

     &-login:hover {
      transform: translateY(.5rem);
     }
         
     &:hover::before {
          width: 0%;             
     } 
 }